<div class="row">
    <div class="form-group col-6 col-sm-3">
        <select class="form-control week-dropdown mb-3">
            {{#repeat count=38 start=1}}
            <option value="{{@index}}">week {{@index}}</option>
            {{/repeat}}
        </select>
    </div>
</div>
<div class="row">
    <div class="league-table-container">
    </div>
</div>