.filter-container .filter-toggle {
  display: inline-block;
  color: #444; }
  .filter-container .filter-toggle .fa-chevron-circle-left {
    transition: transform 0.25s ease-in-out; }
  .filter-container .filter-toggle.collapsed .fa-chevron-circle-left {
    transform: rotate(-90deg); }

.filter-container .clear-filter {
  cursor: pointer;
  position: absolute;
  right: 20px; }

.filter-container #search-team {
  margin: -5px -10px 0 -10px; }
  .filter-container #search-team .badge {
    padding: 0; }
    .filter-container #search-team .badge:first-child {
      padding-left: 0; }
    .filter-container #search-team .badge:nth-child(5n) {
      clear: both; }
    .filter-container #search-team .badge .badge-ars {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: 0px -100px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-ars.active, .filter-container #search-team .badge .badge-ars:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-avl {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -100px -150px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-avl.active, .filter-container #search-team .badge .badge-avl:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-bou {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -100px -250px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-bou.active, .filter-container #search-team .badge .badge-bou:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-bha {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -200px -200px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-bha.active, .filter-container #search-team .badge .badge-bha:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-bur {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -50px -300px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-bur.active, .filter-container #search-team .badge .badge-bur:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-che {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -300px -300px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-che.active, .filter-container #search-team .badge .badge-che:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-cry {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -100px -350px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-cry.active, .filter-container #search-team .badge .badge-cry:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-eve {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -50px -400px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-eve.active, .filter-container #search-team .badge .badge-eve:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-lei {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: 0px 0px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-lei.active, .filter-container #search-team .badge .badge-lei:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-liv {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: 0px -500px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-liv.active, .filter-container #search-team .badge .badge-liv:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-mci {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -550px 0px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-mci.active, .filter-container #search-team .badge .badge-mci:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-mun {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -550px -450px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-mun.active, .filter-container #search-team .badge .badge-mun:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-new {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: 0px -550px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-new.active, .filter-container #search-team .badge .badge-new:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-nor {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -250px -550px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-nor.active, .filter-container #search-team .badge .badge-nor:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-shu {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -650px -350px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-shu.active, .filter-container #search-team .badge .badge-shu:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-sou {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -650px -550px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-sou.active, .filter-container #search-team .badge .badge-sou:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-tot {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -600px -650px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-tot.active, .filter-container #search-team .badge .badge-tot:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-wat {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -700px -150px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-wat.active, .filter-container #search-team .badge .badge-wat:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-whu {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -700px -250px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-whu.active, .filter-container #search-team .badge .badge-whu:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }
    .filter-container #search-team .badge .badge-wol {
      display: inline-block;
      background: url(/badges-sprite.png);
      background-position: -700px -500px;
      width: 50px;
      height: 50px;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      transform: scale(0.6);
      transition: all ease-in-out 0.2s; }
      .filter-container #search-team .badge .badge-wol.active, .filter-container #search-team .badge .badge-wol:hover {
        transform: scale(0.75);
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); }

.player-table {
  text-align: center; }
  .player-table colgroup .id {
    width: 10%; }
  .player-table colgroup .team {
    width: 20%; }
  .player-table colgroup .name {
    width: 40%; }
  .player-table colgroup .price {
    width: 20%; }
  .player-table.table {
    width: 100%; }
    .player-table.table td,
    .player-table.table th {
      padding: 5px 10px; }
      .player-table.table td img,
      .player-table.table th img {
        height: 25px;
        margin-right: 10px; }
      .player-table.table td:nth-child(4n),
      .player-table.table th:nth-child(4n) {
        text-align: left; }
    .player-table.table tr {
      position: relative; }
      .player-table.table tr .fa-exclamation-triangle {
        position: relative;
        float: right;
        margin-top: 3px;
        z-index: 100; }
      .player-table.table tr .player-status {
        display: none;
        position: absolute;
        color: #fff;
        right: 15px;
        left: 15px;
        padding: 5px;
        margin-top: -5px;
        text-align: center;
        z-index: 99; }
      .player-table.table tr:hover .player-status {
        display: inline;
        transition: all 3s ease; }
      .player-table.table tr:hover.unavailable-for-season .fa-exclamation-triangle {
        color: #fff; }
      .player-table.table tr:hover.temporary-unavailable .fa-exclamation-triangle {
        color: #333; }
    .player-table.table tr.unavailable-for-season {
      cursor: pointer; }
      .player-table.table tr.unavailable-for-season .fa-exclamation-triangle {
        color: #DB0100; }
      .player-table.table tr.unavailable-for-season .player-status {
        background-color: #DB0100; }
    .player-table.table tr.temporary-unavailable {
      cursor: pointer; }
      .player-table.table tr.temporary-unavailable .fa-exclamation-triangle {
        color: #FFCC00; }
      .player-table.table tr.temporary-unavailable .player-status {
        background-color: #FFCC00;
        color: #333; }


/*# sourceMappingURL=Players.css.map*/