.fixtures-container .exclude-week-container input[type='checkbox'] {
  height: 18px;
  width: 18px; }

.fixtures-container .exclude-week-container label {
  margin-left: 10px;
  vertical-align: sub;
  font-size: 13px; }

.fixtures-container .fixtures {
  position: relative;
  margin-bottom: 20px; }
  .fixtures-container .fixtures h3 {
    font-size: 18px; }
  .fixtures-container .fixtures .clear-fixture {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 18px; }
  .fixtures-container .fixtures table {
    width: 100%; }
    .fixtures-container .fixtures table .teams-dropdown {
      float: left;
      width: 73%;
      margin-right: 2%; }
    .fixtures-container .fixtures table select {
      padding: 5px 10px; }
    .fixtures-container .fixtures table .team-option:disabled {
      color: #ddd; }
    .fixtures-container .fixtures table .score {
      width: 25%;
      padding: 5px 10px; }
    .fixtures-container .fixtures table .score:disabled {
      cursor: disabled; }
  .fixtures-container .fixtures .home-team .player-filter {
    font-size: 12px;
    margin: 5px 0; }
    .fixtures-container .fixtures .home-team .player-filter input[type='radio'] {
      vertical-align: sub; }
  .fixtures-container .fixtures .player-table {
    vertical-align: top; }
    .fixtures-container .fixtures .player-table .position-header {
      position: relative;
      margin-bottom: 5px;
      cursor: pointer;
      color: #fff;
      border: 1px solid #fff;
      background-color: #808080; }
      .fixtures-container .fixtures .player-table .position-header th {
        font-size: 12px !important;
        position: relative;
        padding: 5px; }
        .fixtures-container .fixtures .player-table .position-header th .heading-icon {
          font-family: 'Font Awesome 5 Solid';
          position: absolute;
          right: 10px;
          content: '\F078';
          width: 15px;
          height: 15px;
          background-color: #fff;
          color: grey;
          text-align: center;
          border-radius: 10px;
          padding: 2px; }
      .fixtures-container .fixtures .player-table .position-header.active th .heading-icon {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg); }
    .fixtures-container .fixtures .player-table .player-data {
      display: none;
      transition: all ease 2s; }
      .fixtures-container .fixtures .player-table .player-data td {
        vertical-align: middle;
        padding: 5px 0px; }
        .fixtures-container .fixtures .player-table .player-data td input {
          vertical-align: middle; }
        .fixtures-container .fixtures .player-table .player-data td .score-select,
        .fixtures-container .fixtures .player-table .player-data td .assist-select {
          width: 32px;
          padding: 0 0 0 5px; }
      .fixtures-container .fixtures .player-table .player-data:nth-child(even) {
        background-color: #eee; }
      .fixtures-container .fixtures .player-table .player-data.active {
        display: table-row;
        transition: all ease 2s; }
      .fixtures-container .fixtures .player-table .player-data.unavailable {
        opacity: 0.5;
        cursor: not-allowed; }
  .fixtures-container .fixtures .away-team-players,
  .fixtures-container .fixtures .home-team-players {
    float: left;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px; }
    .fixtures-container .fixtures .away-team-players .table-heading,
    .fixtures-container .fixtures .home-team-players .table-heading {
      border: 5px solid #fff;
      display: none; }
      .fixtures-container .fixtures .away-team-players .table-heading.active,
      .fixtures-container .fixtures .home-team-players .table-heading.active {
        display: table-row; }
      .fixtures-container .fixtures .away-team-players .table-heading th,
      .fixtures-container .fixtures .home-team-players .table-heading th {
        text-align: center; }
    .fixtures-container .fixtures .away-team-players table,
    .fixtures-container .fixtures .home-team-players table {
      width: 100%; }
      .fixtures-container .fixtures .away-team-players table td:first-child,
      .fixtures-container .fixtures .away-team-players table th:first-child,
      .fixtures-container .fixtures .home-team-players table td:first-child,
      .fixtures-container .fixtures .home-team-players table th:first-child {
        font-size: 12px;
        text-align: left; }
      .fixtures-container .fixtures .away-team-players table input[type='checkbox'],
      .fixtures-container .fixtures .home-team-players table input[type='checkbox'] {
        width: 18px;
        height: 18px; }
      .fixtures-container .fixtures .away-team-players table img,
      .fixtures-container .fixtures .home-team-players table img {
        width: 15px; }
      .fixtures-container .fixtures .away-team-players table input,
      .fixtures-container .fixtures .home-team-players table input {
        padding: 0;
        border: 1px solid #ccc; }
        .fixtures-container .fixtures .away-team-players table input.active,
        .fixtures-container .fixtures .home-team-players table input.active {
          background-color: #5cb85c;
          color: #fff; }
    .fixtures-container .fixtures .away-team-players p,
    .fixtures-container .fixtures .home-team-players p {
      font-size: 14px;
      margin-top: 5px; }
    .fixtures-container .fixtures .away-team-players .option-container,
    .fixtures-container .fixtures .home-team-players .option-container {
      position: relative; }
      .fixtures-container .fixtures .away-team-players .option-container img,
      .fixtures-container .fixtures .home-team-players .option-container img {
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        width: 15px;
        height: 15px;
        margin: 0 auto; }
    .fixtures-container .fixtures .away-team-players span:nth-child(3n + 1),
    .fixtures-container .fixtures .home-team-players span:nth-child(3n + 1) {
      clear: left; }
    .fixtures-container .fixtures .away-team-players span input[type='checkbox'],
    .fixtures-container .fixtures .home-team-players span input[type='checkbox'] {
      vertical-align: middle; }
    .fixtures-container .fixtures .away-team-players span label,
    .fixtures-container .fixtures .home-team-players span label {
      font-size: 12px; }
  .fixtures-container .fixtures .versus {
    margin: 0 20px;
    text-align: center; }

.teams-container {
  text-align: center; }
  .teams-container table {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12px; }
    .teams-container table .player-total-data:nth-child(odd) {
      background-color: #ddd; }
    .teams-container table .player-total-data.u {
      opacity: 0.25; }
    .teams-container table .player-total-data.transfered {
      background-color: #5cb85c;
      color: #fff;
      opacity: 1; }
    .teams-container table .player-total-data.current-week-transfer {
      background-color: #eee82c;
      color: #292f36;
      opacity: 1; }
    .teams-container table .player-total-data.sent-off {
      background-color: #d9534f;
      color: #fff;
      opacity: 1; }
  .teams-container table,
  .teams-container td,
  .teams-container th,
  .teams-container tr {
    padding: 2px 5px;
    text-align: center;
    border: 1px solid #ccc;
    white-space: nowrap;
    page-break-inside: avoid; }
  .teams-container .header-row th {
    position: relative; }
    .teams-container .header-row th .icon-transfer {
      position: absolute;
      right: 10px;
      line-height: 20px;
      top: 5px; }
    .teams-container .header-row th .invalid-team-warning {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      padding: 2px;
      background-color: #d9534f;
      color: #fff; }
  .teams-container .invalid-team .icon-transfer {
    z-index: 10;
    color: #fff; }
  .teams-container .total-points-row th {
    text-align: center; }
  .teams-container .error-list {
    text-align: left; }
    .teams-container .error-list .fa-exclamation-circle {
      color: #DB0100; }

.swal2-popup.swal-import .swal2-textarea {
  font-size: 14px; }



/*# sourceMappingURL=Teams.css.map*/