@import 'styles';

.fixtures-container {
  .exclude-week-container {
    input[type='checkbox'] {
      height: 18px;
      width: 18px;
    }

    label {
      margin-left: 10px;
      vertical-align: sub;
      font-size: 13px;
    }
  }

  .fixtures {
    position: relative;
    margin-bottom: 20px;

    h3 {
      font-size: 18px;
    }

    .clear-fixture {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 18px;
    }

    table {
      width: 100%;

      .teams-dropdown {
        float: left;
        width: 73%;
        margin-right: 2%;
      }

      select {
        padding: 5px 10px;
      }

      .team-option {
        &:disabled {
          color: #ddd;
        }
      }

      .score {
        width: 25%;
        padding: 5px 10px;
      }

      .score:disabled {
        cursor: disabled;
      }
    }
    .home-team {
      .player-filter {
        font-size: 12px;
        margin: 5px 0;

        input[type='radio'] {
          vertical-align: sub;
        }
      }
    }
    .player-table {
      vertical-align: top;

      .position-header {
        position: relative;
        margin-bottom: 5px;
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
        background-color: #808080;

        th {
          font-size: 12px !important;
          position: relative;
          padding: 5px;

          .heading-icon {
            font-family: 'Font Awesome 5 Solid';
            position: absolute;
            right: 10px;
            content: '\f078';
            width: 15px;
            height: 15px;
            background-color: #fff;
            color: grey;
            text-align: center;
            border-radius: 10px;
            padding: 2px;
          }
        }

        &.active {
          th {
            .heading-icon {
              transform: rotate(-90deg);
            }
          }
        }
      }

      .player-data {
        display: none;
        transition: all ease 2s;

        td {
          vertical-align: middle;
          padding: 5px 0px;

          input {
            vertical-align: middle;
          }

          .score-select,
          .assist-select {
            width: 32px;
            padding: 0 0 0 5px;
          }
        }

        &:nth-child(even) {
          background-color: #eee;
        }

        &.active {
          display: table-row;
          -webkit-transition: all ease 2s;
          -moz-transition: all ease 2s;
          -o-transition: all ease 2s;
          transition: all ease 2s;
        }

        &.unavailable {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
    .away-team-players,
    .home-team-players {
      float: left;
      width: 100%;
      margin-top: 10px;
      text-align: center;
      font-size: 12px;

      .table-heading {
        border: 5px solid #fff;
        display: none;

        &.active {
          display: table-row;
        }

        th {
          text-align: center;
        }
      }

      table {
        width: 100%;

        td,
        th {
          &:first-child {
            font-size: 12px;
            text-align: left;
          }
        }

        input[type='checkbox'] {
          width: 18px;
          height: 18px;
        }

        img {
          width: 15px;
        }

        input {
          padding: 0;
          border: 1px solid #ccc;
          &.active {
            background-color: #5cb85c;
            color: #fff;
          }
        }
      }

      p {
        font-size: 14px;
        margin-top: 5px;
      }

      .option-container {
        position: relative;

        img {
          position: absolute;
          top: -25px;
          right: 0;
          left: 0;
          width: 15px;
          height: 15px;
          margin: 0 auto;
        }
      }

      span {
        &:nth-child(3n + 1) {
          clear: left;
        }

        input[type='checkbox'] {
          vertical-align: middle;
        }

        label {
          font-size: 12px;
        }
      }
    }

    .versus {
      margin: 0 20px;
      text-align: center;
    }
  }
}

.teams-container {
  text-align: center;

  table {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12px;

    .player-total-data {
      &:nth-child(odd) {
        background-color: #ddd;
      }

      &.u {
        opacity: 0.25;
      }

      &.transfered {
        background-color: #5cb85c;
        color: #fff;
        opacity: 1;
      }

      &.current-week-transfer {
        background-color: #eee82c;
        color: #292f36;
        opacity: 1;
      }

      &.sent-off {
        background-color: #d9534f;
        color: #fff;
        opacity: 1;
      }
    }
  }

  table,
  td,
  th,
  tr {
    padding: 2px 5px;
    text-align: center;
    border: 1px solid #ccc;
    white-space: nowrap;
    page-break-inside: avoid;
  }

  .header-row th {
    position: relative;

    .icon-transfer {
      position: absolute;
      right: 10px;
      line-height: 20px;
      top: 5px;
    }

    .invalid-team-warning {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      padding: 2px;
      background-color: #d9534f;
      color: #fff;
    }
  }

  .total-points-row {
    th {
      text-align: center;
    }
  }
}

.swal2-popup.swal-import {
  .swal2-textarea {
    font-size: 14px;
  }
}
