.filter-container {

    .clear-filter {
        cursor: pointer;
        position: absolute;
        right: 20px;
    }

  #search-team {
      margin: -5px -10px 0 -10px;

    .badge {
      padding: 0;

      &:first-child {
        padding-left: 0;
      }

      @each $teamList, $keyNumber in $teamList {
        $background: nth($keyNumber, 1);
        $position: nth($keyNumber, 2);
        .badge-#{$teamList} {
          display: inline-block;
          background: url("./../img/badges-sprite.png");
          background-position: $position;
          width: 50px;
          height: 50px;
          filter: grayscale(100%);
          transform: scale(0.6);
          transition: all ease-in-out 0.2s;

          &.active,
          &:hover {
            transform: scale(0.75);
            filter: grayscale(0%);
          }
        }
      }
    }
  }
}
