@import "styles";

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.player-table {
    text-align: center;
    colgroup {
        .id {
            width: 10%;
        }
        .team {
            width: 20%;
        }
        .name {
            width: 40%;
        }
        .price {
            width: 20%;
        }
    }
    &.table {
        width: 100%;
        td,
        th {
            padding: 5px 10px;
            img {
                height: 25px;
                margin-right: 10px;
            }
            &:nth-child(4n) {
                text-align: left;
            }
        }
        tr {
            position: relative;
            .fa-exclamation-triangle {
                position: relative;
                float: right;
                margin-top: 3px;
                z-index: 100;
            }
            .player-status {
                display: none;
                position: absolute;
                color: #fff;
                right: 15px;
                left: 15px;
                padding: 5px;
                margin-top: -5px;
                text-align: center;
                z-index: 99;
            }
            &:hover {
                .player-status {
                    display: inline;
                    transition: all 3s ease;
                }
                &.u {
                    .fa-exclamation-triangle {
                        color: #fff;
                    }
                }
                &.i {
                    .fa-exclamation-triangle {
                        color: #333;
                    }
                }
            }
        }
        tr.u {
            cursor: pointer;
            .fa-exclamation-triangle {
                color: #DB0100;
            }
            .player-status {
                background-color: #DB0100;
            }
        }
        tr.i {
            cursor: pointer;
            .fa-exclamation-triangle {
                color: #FFCC00;
            }
            .player-status {
                background-color: #FFCC00;
                color: #333;
            }
        }
    }
}

.loading {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}