@import "~bootstrap/scss/bootstrap";
@import "styles";

body {
    color: #2c2c2c;
}

table {
    width: 100%;
}

.loading {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}