@import 'styles';

.league-table-container {

  table {
    width: 100%;
    font-size: 12px;

    @include media-breakpoint-up(sm) {
      font-size: 14px;
    }

    th, td {
      vertical-align: middle;
    }

    .team-row {
      width: 100%;
    }

    .th-position,
    .td-position {
      position: relative;
      width: 12.5%;

      .svg-inline--fa {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
      }

      .fa-circle {
        font-size: 6px;
        color: var(--gray);
      }

      .fa-chevron-up {
        font-size: 10px;
        color: var(--success);
      }

      .fa-chevron-down {
        font-size: 10px;
        color: var(--danger);
      }
    }
    .th-prevweek,
    .td-prevweek {
      display: none;
      width: 12.5%;

      @include media-breakpoint-up(sm) {
        display: table-cell;
      }
    }
    .th-team,
    .td-team {
      width: 27.5%;
    }
    .th-redcards,
    .td-redcards {
      display: none;
      width: 10%;

      @include media-breakpoint-up(sm) {
        display: table-cell;
      }
    }
    .th-goals,
    .td-goals {
      display: none;
      width: 12.5%;

      @include media-breakpoint-up(sm) {
        display: table-cell;
      }
    }
    .th-weekscore,
    .td-weekscore {
      position: relative;
      width: 12.5%;

      .fa-star {
        margin-left: 10px;
        font-size: 12px;
        color: var(--yellow);
        vertical-align: baseline;
      }
    }
    .th-total,
    .td-total {
      width: 12.5%;
    }

    .sticky-header {
      position: sticky;
      z-index: 10;
      border: none;
      background-color: var(--gray-dark);
      color: #fff;
    }
  }
}
