$teamList: (
  'ars': (
    red,
    0 -50px,
  ),
  'che': (
    blue,
    -150px -150px,
  ),
  'liv': (
    darkred,
    -500px -450px,
  ),
  'mnc': (
    lightblue,
    -500px -450px,
  ),
  'mnu': (
    red,
    -500px -450px,
  )
);
@each $teamList, $keyNumber in $teamList {
  $background: nth($keyNumber, 1);
  $position: nth($keyNumber, 2);
  .badge-#{$teamList} {
    display: inline-block;
    background-color: $background;
    background: url('./../img/badges-sprite.png');
    background-position: $position;
    background-size: 375px;
    width: 25px;
    height: 25px;
  }
}

label {
  display: block;
}