$teamList: (
  'ars': (
    #f00000,
    0px -100px
  ),
  'avl': (
    #660033,
    -100px -150px
  ),
  'bou': (
    #d21b23,
    -100px -250px
  ),
  'bha': (
    #004799,
    -200px -200px
  ),
  'bur': (
    #fff,
    -50px -300px
  ),
  'che': (
    #fff,
    -300px -300px
  ),
  'cry': (
    #fff,
    -100px -350px
  ),
  'eve': (
    #fff,
    -50px -400px
  ),
  'lei': (
    #fff,
    0px 0px
  ),
  'liv': (
    #fff,
    0px -500px
  ),
  'mci': (
    #fff,
    -550px 0px
  ),
  'mun': (
    #fff,
    -550px -450px
  ),
  'new': (
    #fff,
    0px -550px
  ),
  'nor': (
    #fff,
    -250px -550px
  ),
  'shu': (
    #fff,
    -650px -350px
  ),
  'sou': (
    #fff,
    -650px -550px
  ),
  'tot': (
    #fff,
    -600px -650px
  ),
  'wat': (
    #fff,
    -700px -150px
  ),
  'whu': (
    #fff,
    -700px -250px
  ),
  'wol': (
    #fff,
    -700px -500px
  ),
);

.badges-container {
  margin-top: -5px;
  margin-left: -10px;

  .badge {
    padding: 0;

    &:first-child {
      padding-left: 0;
    }

    @each $teamList, $keyNumber in $teamList {
      $background: nth($keyNumber, 1);
      $position: nth($keyNumber, 2);
      .badge-#{$teamList} {
        display: inline-block;
        background: url('./../img/badges-sprite.png');
        background-position: $position;
        width: 50px;
        height: 50px;
        filter: grayscale(100%);
        transform: scale(0.6);
        transition: all ease-in-out 0.2s;

        &.active,
        &:hover {
          transform: scale(0.75);
          filter: grayscale(0%);
        }
      }
    }
  }
}
